{% extends "base.html" %}

{% block content %}

<div class="title">
    Candidates
</div>

{% for candidate in candidates %}

<div class="card">

    <h3>{{ candidate.full_name }}</h3>

    <p>
        <strong>Specialization:</strong>
        {{ candidate.specialization }}
    </p>

    <p>
        <strong>City:</strong>
        {{ candidate.city }}
    </p>

    <p>
        <strong>Skills:</strong>
        {{ candidate.skills }}
    </p>

    <p>
        <strong>Preferred Sector:</strong>
        {{ candidate.preferred_sector }}
    </p>

</div>

{% endfor %}

{% endblock %}
